body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  width: 80%;
}

.navBar {
  /* background-color: #97a7e3; */
  color: #fff;
  position: relative;
}
.navBarItem {
  color: inherit !important;
  text-decoration: none;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.link {
  text-decoration: none;
  color: #FF7D55 !important;
  display: inline-flex;
  align-items: center;
}

.link p{
  margin-top: 10px;
}

.heroDisplay {
  font-size: 90px;
}

.btn-primary {
  background-color: #FF7D55 !important;
  color: #fff !important;
}
.btn-default {
  background-color: #f5fff9 !important;
  color: #FF7D55 !important;
  border: 1px solid #FF7D55 !important;
}

.text-primary {
  color: #FF7D55 !important;
}
.bg-primary {
  background-color: #f8f4f4 !important;
}
.border-default {
  border: 1px solid #FF7D55 !important;
}
.border-primary {
  border: 1px solid #FF7D55 !important;
}

/* ADMIN */
.no-border {
  border: 0px;
}

.sideBar .sidebar-nav .nav-item :hover {
  font-size: 20px !important;
  font-weight: 700 !important;
}
.sideBar .sidebar-nav .nav-item .active {
  background-color: #97a7e3 !important;
}
.side-bar {
  background-color: #f5fff9;
  position: fixed;
  margin-top: 85px;
  color: white;
  top: 0;
  left: 0;
  height: 100vw;
  width: 280px;
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.side-bar-open {
  transform: translateX(0%);
  transition: all 0.4s ease;
}

/* .sidebar-items :hover {
  font-size: 20px;
  font-weight: 700;
} */

.content-sidebar {
  margin: 0px 150px 0px 350px;
  flex: 1;
  margin-top: -30px;
  transform: translateX(0%);
  transition: all 0.4s ease;
}

.content {
  min-width: 100%;
  transform: translateX(0%);
  transition: all 0.4s ease;
}

.side-bar .list {
  margin-left: 50px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.nav-header {
  border-bottom: 1px solid #FF7D55;
}

.signout {
  margin-top: 150px;
}
.signout span {
  margin-right: 10px;
}
.signout div {
  border: 2px solid #FF7D55;
  border-radius: 10px;
  padding: 10px;
  margin-right: 100px;
}

@media screen and (min-width: 900px) {
  .dash-res {
    display: none;
  }
 
}

@media screen and (max-width: 900px) {
  .link p{
   display: none !important;
  }
  .sideBar{
    display: none;
  }
  
  .hamburger{
    display: none;
  }
}
